/* External CSS */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(./images/background.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.banner {
	text-align: center;
	font-size: 20px;
	font-family: 'Times New Roman';
	position: absolute;
	top: 0px;
}

.container {
	width: 400px;
	height: auto;
	min-height: 400px;
	padding: 30px;
	background: transparent;
	border: 2px solid #e6b7eca1;
	border-radius: 10px;
	backdrop-filter: blur(15px);
}

h1 {
	color: #eee;
	text-align: center;
	margin-bottom: 36px;
}

.input-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.todo-input {
	flex: 1;
	outline: none;
	padding: 10px 10px 10px 20px;
	background-color: transparent;
	border: 2px solid #e6b7eca1;
	border-radius: 30px;
	color: #eee;
	font-size: 16px;
	margin-right: 10px;
}

.todo-input::placeholder {
	color: #bfbfbf;
}

.add-button {
	border: none;
	outline: none;
	background: #e6b7eca1;
	color: #fff;
	font-size: 35px;
	cursor: pointer;
	border-radius: 40px;
	width: 40px;
	height: 40px;
}

.empty-image {
	margin: 55px auto 0;
	display: block;
}
